{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center" >Continent Map · Choix du pays</h1>
<div class="continent-map text-center">
    <img src=" {{ asset('images/africa.png') }} " usemap="#continent-map">
    <map name="continent-map">
        <area 
            target="_self" alt="South Africa" title="South Africa" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'South Africa'}) }}"  
            coords="433,659,449,720,502,712,528,707,549,690,561,671,574,661,579,647,569,648,560,643,563,635,568,631,573,631,573,617,568,602,553,599,540,602,533,612,524,620,516,630,504,630,493,628,489,637,479,640,471,639,471,629,464,623,466,654,459,661,449,662,440,657,438,652" 
        >
        <area 
            target="_self" alt="Namibia" title="Namibia" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Namibia'}) }}"  
            coords="387,553,415,603,414,614,418,634,421,646,433,658,438,652,445,658,454,662,461,658,465,649,465,637,465,623,465,597,474,596,474,562,458,557,449,553,409,555,405,550" 
        >
        <area 
            target="_self" alt="Namibia2" title="Namibia2" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Namibia'}) }}" 
            coords="502,562,514,557,505,553,495,556,484,558,468,558,476,562" 
        >
        <area 
            target="_self" alt="Botswana" title="Botswana" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Botswana'}) }}" 
            coords="476,563,475,597,466,600,464,623,471,630,472,641,479,641,487,636,493,627,515,630,519,623,524,621,528,613,535,609,538,602,551,598,539,591,536,581,524,574,516,557,501,562,495,557" 
        >
        <area 
            target="_self" alt="Mozambique" title="Mozambique" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Mozambique'}) }}" 
            coords="576,645,588,648,610,623,613,603,605,581,637,557,653,552,666,532,666,521,664,482,657,490,644,495,635,497,625,498,616,495,610,501,610,510,612,520,616,526,618,536,613,541,610,547,604,540,607,531,603,524,598,525,595,519,565,531,567,540,574,541,579,546,587,549,588,564,588,575,584,585,581,592,571,602,576,619" 
        >
        <area 
            target="_self" alt="Angora" title="Angora" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Angora'}) }}" 
            coords="394,443,404,466,400,473,407,490,405,501,397,512,392,525,389,535,387,550,404,548,410,553,449,552,458,557,474,557,494,552,485,542,485,511,501,510,506,505,505,491,489,494,489,485,484,477,484,455,473,455,465,452,462,460,444,462,438,455,432,440" 
        >
        <area 
            target="_self" alt="Zimbabwe" title="Zimbabwe" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Zimbabwe'}) }}" 
            coords="518,558,524,568,527,574,535,576,539,582,540,590,554,597,568,600,580,590,586,576,584,572,587,547,575,541,565,541,564,535,552,539,551,546,542,547,534,558" 
        >
        <area 
            target="_self" alt="Zambia" title="Zambia" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Zambia'}) }}"  
            coords="486,512,486,540,500,555,511,553,519,556,538,558,545,548,551,545,554,538,566,534,567,528,590,519,588,516,595,503,598,488,597,476,573,463,557,465,553,474,554,484,553,491,554,499,562,501,563,512,555,514,548,506,540,503,537,497,532,501,524,500,518,493,508,494,508,507,500,512" 
        >
        <area 
            target="_self" alt="Malawi" title="Malawi" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Malawi'}) }}"  
            coords="596,477,602,477,605,486,603,503,607,521,614,523,618,536,612,539,610,546,604,540,608,530,602,522,597,523,591,516,598,506" 
        >
        <area 
            target="_self" alt="Tanzania" title="Tanzania" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Tanzania'}) }}" 
            coords="571,394,575,405,574,414,563,427,564,444,569,449,574,462,592,474,605,478,612,493,620,494,630,495,637,493,648,491,660,484,654,467,655,450,649,443,654,429,638,416,637,410,605,392,601,401,601,409,585,409,581,401,582,393" 
        >
        <area 
            target="_self" alt="Kenya" title="Kenya" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Kenya'}) }}" 
            coords="654,428,664,412,677,397,671,388,671,355,677,343,666,338,658,345,641,345,631,339,623,337,608,336,608,343,614,358,615,367,603,381,612,383,607,389,610,394,636,409,641,416" 
        >
        <area 
            target="_self" alt="Somalia" title="Somalia" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Somalia'}) }}" 
            coords="683,275,691,283,698,291,708,293,720,297,735,298,729,304,722,314,716,321,709,330,698,330,678,341,674,352,672,364,672,373,671,386,678,395,683,388,695,377,703,366,715,358,725,349,732,339,739,328,744,319,750,309,757,291,760,282,762,270,763,256,759,256,749,262,732,265,722,270,712,269,704,275,695,273,689,268" 
        >
        <area 
            target="_self" alt="Djibouti" title="Djibouti" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Djibouti'}) }}" 
            coords="686,254,676,260,674,270,687,265,693,259" 
        >
        <area 
            target="_self" alt="Eritrea" title="Eritrea" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Eritrea'}) }}"  
            coords="640,204,635,209,626,213,625,221,621,229,624,237,635,241,637,234,644,238,650,236,659,238,666,242,671,248,678,256,687,251" 
        >
        <area 
            target="_self" alt="Sudan" title="Sudan" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Sudan'}) }}" 
            coords="640,202,630,197,625,181,625,173,618,162,608,156,592,168,512,168,513,187,503,187,506,212,506,230,495,231,490,243,488,252,491,260,491,269,495,277,503,285,508,275,518,273,522,282,536,282,545,286,553,281,559,275,569,279,576,276,585,269,584,258,591,256,598,258,597,270,601,275,603,285,605,275,612,268,614,258,620,253,623,243,621,234,620,226,624,217,626,211" 
        >
        <area 
            target="_self" alt="Egypt" title="Egypt" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Egypt'}) }}" 
            coords="506,78,506,90,513,166,591,167,608,155,608,145,587,117,573,90,579,97,588,108,593,94,586,78,571,79,558,73,546,80,536,82,518,76" 
        >
        <area 
            target="_self" alt="Libya" title="Libya" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Libya'}) }}" 
            coords="506,76,491,76,488,70,473,66,463,73,463,85,455,90,440,83,428,80,422,70,407,66,392,66,381,76,378,85,372,91,375,100,375,112,375,119,371,127,380,144,388,146,392,155,400,153,406,161,414,163,429,153,501,190,511,186" 
        >
        <area 
            target="_self" alt="Tunisia" title="Tunisia" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Tunisia'}) }}" 
            coords="372,90,380,85,380,78,393,65,389,44,389,27,378,22,365,28,365,44,355,51,358,61,365,66,367,73" 
        >
        <area 
            target="_self" alt="Algeria" title="Algeria" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Algeria'}) }}" 
            coords="366,26,353,25,335,26,309,27,294,33,280,39,281,49,282,59,284,66,273,70,260,72,259,79,252,82,246,88,219,91,213,99,213,110,291,173,296,183,308,187,310,196,335,192,348,180,392,155,387,146,380,145,369,128,375,121,376,104,365,72,358,65,354,54,365,44" 
        >
        <area 
            target="_self" alt="Morocco" title="Morocco" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Morocco'}) }}" 
            coords="280,39,285,63,275,68,260,72,258,79,250,82,245,87,226,88,217,93,211,104,175,100,208,84,209,73,218,54,240,44,253,27,256,34" 
        >
        <area 
            target="_self" alt="Western Sahara" title="Western Sahara" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Western Sahara'}) }}" 
            coords="175,104,211,106,211,123,183,121,177,144,168,149,164,166,129,163,140,141,152,133,161,115" 
        >
    </map>
</div>
{% endblock %}
