{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center" >Continent Map · Choix du pays</h1>
<div class="continent-map text-center">
    <img src=" {{ asset('images/south-america.png') }} " usemap="#continent-map">
    <map name="continent-map">
        <area 
            target="_self" alt="Brazil" title="Brazil" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Brazil'}) }}"  
            coords="273,446,374,345,436,226,432,196,420,194,394,169,353,150,310,134,312,117,298,96,291,103,286,111,277,113,270,107,263,108,260,113,251,112,237,118,230,114,228,105,228,91,225,81,223,82,220,88,217,87,205,91,199,94,194,90,188,93,192,104,198,109,193,113,191,119,182,122,174,123,166,113,158,116,146,117,145,121,152,127,147,129,144,131,148,138,149,145,146,172,132,176,123,186,120,191,120,196,114,203,116,211,121,221,126,222,130,226,134,225,141,221,141,235,151,234,158,233,164,230,172,221,183,221,185,228,183,235,190,245,200,246,205,249,212,253,219,255,224,265,223,272,226,280,240,281,239,287,243,291,244,304,241,315,242,332,247,336,255,337,259,341,261,352,268,353,268,366,273,371,272,380,267,384,257,394,244,409,250,410,253,415,257,418,264,422,271,426,274,434,272,441" 
        >
        <area 
            target="_self" alt="Venezuela" title="Venezuela" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Venezuela'}) }}"  
            coords="229,53,219,43,202,30,194,30,175,32,158,28,145,20,129,26,120,38,119,47,125,56,124,65,130,69,137,66,144,67,149,75,162,72,166,76,162,89,165,97,163,104,167,113,174,122,190,118,197,109,191,104,187,93,194,89,198,92,218,85,222,80,216,73,216,67,222,64,217,59" 
        >
        <area 
            target="_self" alt="Colombia" title="Colombia" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Colombia'}) }}"  
            coords="129,25,136,21,130,16,102,36,83,60,79,73,81,103,73,116,69,127,81,134,85,137,94,134,103,138,113,147,118,157,125,157,136,155,142,159,139,168,144,172,147,141,142,131,150,126,144,122,145,116,156,115,165,113,162,105,163,97,161,90,166,76,160,73,148,76,144,68,136,67,129,69,122,66,124,57,118,46,118,38" 
        >
        <area 
            target="_self" alt="Ecuador" title="Ecuador" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Ecuador'}) }}" 
            coords="70,129,61,134,57,143,53,152,54,164,59,174,56,180,58,184,64,184,68,187,71,181,72,174,77,169,90,161,100,144,97,137,94,135,84,137" 
        >
        <area 
            target="_self" alt="Peru" title="Peru" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Peru'}) }}" 
            coords="56,176,51,181,53,198,61,206,66,214,98,272,142,301,147,298,149,292,153,284,149,278,153,272,153,262,152,249,155,246,147,234,140,236,140,221,130,225,125,221,121,221,113,204,118,195,119,187,132,175,143,172,139,165,142,160,135,154,118,156,112,146,102,136,100,142,92,159,76,170,72,176,68,186,58,183" 
        >
        <area 
            target="_self" alt="Chile" title="Chile" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Chile'}) }}" 
            coords="150,297,144,301,147,322,146,344,136,480,138,570,141,583,152,630,175,648,186,648,184,623,177,617,166,617,161,605,158,606,154,598,158,587,158,577,160,568,160,554,159,547,156,539,153,529,154,523,152,501,155,491,153,472,156,469,154,461,159,449,153,434,151,426,154,413,155,405,155,396,164,379,161,360,171,352,170,343,164,345,162,330,156,318,160,315,154,306,154,302" 
        >
        <area 
            target="_self" alt="Argentina" title="Argentina" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Argentina'}) }}" 
            coords="186,647,200,640,248,469,244,458,237,446,240,413,243,407,270,378,270,370,267,366,263,378,256,384,247,385,236,381,238,373,242,366,228,355,220,353,205,338,196,334,192,339,182,336,179,334,170,343,171,351,161,361,163,379,155,395,154,405,151,426,158,447,154,462,155,471,152,472,155,490,151,501,153,527,158,547,159,570,157,586,154,598,157,605,165,615,174,615,183,623" 
        >
        <area 
            target="_self" alt="Uruguay" title="Uruguay" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Uruguay'}) }}" 
            coords="240,449,250,454,262,454,271,447,272,435,270,426,252,417,250,411,243,411,241,416,239,440" 
        >
        <area 
            target="_self" alt="Paraguay" title="Paraguay" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Paraguay'}) }}" 
            coords="240,315,234,310,226,308,212,313,207,321,207,336,220,351,227,353,242,363,242,369,237,380,247,383,255,383,261,377,267,364,266,353,259,352,258,341,254,338,247,336,241,332" 
        >
        <area 
            target="_self" alt="Bolivia" title="Bolivia" shape="poly"
            href="{{ path('app_country_detail', {countryName: 'Bolivia'}) }}" 
            coords="150,294,154,301,160,313,156,318,161,327,165,342,171,343,179,332,192,337,195,333,206,336,206,321,211,313,226,307,240,313,243,303,242,290,239,281,225,280,222,272,223,264,219,255,200,246,189,245,182,234,184,227,182,221,172,220,164,230,158,232,148,234,156,245,152,249,153,258,154,271,150,277,153,284" 
        >
        <area 
            target="_self" alt="Guyana" title="Guyana" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Guyana'}) }}" 
            coords="230,54,219,59,222,64,216,67,216,73,223,79,229,92,228,105,230,114,236,117,249,111,255,110,248,99,242,91,243,85,248,83,250,77,247,70,243,66,237,58" 
        >
        <area 
            target="_self" alt="Suriname" title="Suriname" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'Suriname'}) }}" 
            coords="276,79,272,84,275,92,276,102,273,107,263,106,260,111,256,110,243,89,243,85,248,84,251,76,268,75" 
        >
        <area 
            target="_self" alt="French Guiana" title="Guyane Francaise" shape="poly" 
            href="{{ path('app_country_detail', {countryName: 'French Guiana'}) }}" 
            coords="276,79,273,84,276,93,276,100,274,106,277,110,285,110,289,102,295,95,289,85,283,79" 
        >
    </map>
</div>
{% endblock %}
